body{

    background: #21333D;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    transition: .4s;
}
body.active{
    background: whitesmoke;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #21333D;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0089EC;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004475;
  }

#container{

    background:rgba(128, 128, 128, 0);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#title{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20pt;
    padding: 10px;
    margin-left: 0px;
    margin-top: 0px;
}
#title.active{
    color: #004475;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-size: 22pt;
    color: white;
    background: #32424f00;
    width: 300px;
    padding: 15px;
    border-radius: 0px;
    border-bottom: 2px solid #0089EC;
    margin: auto;
}
h1.active{
    color: #21333D;
    border-bottom: 2px solid #21333D;
}
#divTitle{
    background: rgba(0, 119, 255, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
#divInf{

    /* background: rgba(27, 64, 98, 0.527); */
    background: #32424f86;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(27, 64, 98, 0.3);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 40px;
    margin-left: 0px;
    margin-top: -30px;
    position: fixed;
    padding: 20px;
    z-index: 1;
}
#divInf.active{

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#divinfAboutTaks{
    background: rgba(0, 128, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
#divTask{
    background: rgba(0, 0, 0, 0);
    width: 400px;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}
#imgTasks{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: auto;
    position: relative;

    
}
.divTBT1, .divTBT2, .divTBT3,
.divTBT4, .divTBT5, .divTBT6{
    background: #32424F ;
    transition: .4s;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#divText-btn-Task1{
    /* background: #32424F ; */
    /* background: rgba(50, 66, 79, 0.56); */
/* border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.1px);
-webkit-backdrop-filter: blur(14.1px); */
    width: 300px;
    height: 270px;
    margin: auto;
    margin-top: -80px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    

}
.divTBT1.active, .divTBT2.active, .divTBT3.active,
.divTBT4.active, .divTBT5.active, .divTBT6.active{

    background: rgb(255, 255, 255);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    color: rgb(34, 34, 34);
    /* transform: scale(1.1); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#textTask{

    margin-top: 100px;
    text-align: center;
    font-size: 22pt;
    letter-spacing: 1px;

}
.txtTask1, .txtTask2, .txtTask3,
.txtTask4, .txtTask5, .txtTask6{

    color: white;
    transition: .4s;
}
.txtTask1.active, .txtTask2.active, .txtTask3.active,
.txtTask4.active, .txtTask5.active, .txtTask6.active{

    color: #21333D;
}
#btnLinkViewTask{

    background: #0089EC;
    color: white;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    border-radius: 50px;
    transition: .4s;
}
#btnLinkViewTask:hover{
    background: #41affd;
    
    transform: scale(1.1);
}
#btnFlag{
    width: 45px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0);

    border: none;

    cursor: pointer;
    margin: 15px;
    margin-top: -15px;
}
#imgFlag{
    width: 40px;
    height: 30px;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0);

    filter: grayscale(0%);
    transition: .4s;
}
#imgFlag:hover{

    filter: grayscale(70%);
}
#backMain{
    background: rgba(0, 128, 0, 0);
    width: 100%;
    height: 400px;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#mainIMG{
    width: 50%;
    height: 90%;
    max-width: auto;
    border-radius: 25px;

    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#aboutUsLink{

    color: grey;
    position: absolute;
    margin-left: -350px;
    margin-top: 220px;
    background: white;
    text-decoration: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
}
#btnWhiteMode{
    color:#41affd;
    background: rgba(255, 255, 255, 0);
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 16pt;
    cursor: pointer;
    transition: .4s;
    width: 28px;
    height: 25px;
    margin-left: 10px;
    margin-top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnWhiteMode:hover{
    color: rgb(26, 26, 26);
    transform: scale(1.1);
}