body{

    background: #21333D;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Rubik', sans-serif;
    display: flex;
}

#container{

    background:rgba(128, 128, 128, 0);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#title{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20pt;
    padding: 10px;
    margin: auto;
}
#divBtns{
    background: rgba(255, 255, 255, 0);
    margin: auto;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-size: 22pt;
    color: white;
    text-align: center;

    background: #32424F;
    width: 500px;
    margin: 0px;
    padding: 15px;
    border-radius: 50px;
    /* border: 1px solid #0089EC; */
}
#divTitle{
    background: rgba(255, 0, 0, 0);
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#divInf{
    background: rgba(0, 0, 150, 0);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#divinfAboutTaks{
    background: rgba(0, 128, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    margin-top: 0px;
}
#divTask1{
    background: rgba(0, 0, 0, 0);
    width: 400px;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}
#divTask2{
    background: rgba(0, 0, 0, 0);
    width: 400px;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;

    display: none;
    flex-direction: column;
}
#imgTasks{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    margin-top: -20px;
}
#divText-btn-Task1{
    background: #32424F ;
    width: 300px;
    height: 280px;
    margin: auto;
    margin-top: -80px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}
#divRadiosAnswers, #divRadiosAnswers2{
    background: rgba(222, 184, 135, 0);
    height: auto;
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type=radio]{

    -webkit-appearance: none;
    appearance: none;
    background: #bb030300;
    color: #BCC3C8;
    margin: 5px;

    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    letter-spacing: 2px;

    text-align: center;
    padding: 5px;

    width: 120px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #BCC3C8;

    transition: .3s;

    cursor: pointer;
}
input[type=radio]:checked{
    background: #00CD4C;
    color: white;
    border: 2px solid  #00FF5F;
}
#radioAnswer1::before{
    content: 'Dog';
}
#radioAnswer2::before{
    content: 'Cow';
}
#radioAnswer3::before{
    content: 'Rat';
}

#radioAnswer4::before{
    content: 'Monkey';
}
#radioAnswer5::before{
    content: 'Bird';
}
#radioAnswer6::before{
    content: 'Sheep';
}
#btnCheck, #btnCheck2{

    background: #0089EC;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 50px;
    transition: .4s;
    margin: auto;
    cursor: pointer;
}
#btnCheck:hover, #btnCheck2:hover{
    background: #41affd;
}
#checkAnswer{
    color: white;
    text-align: center;
    margin-top: -9px;
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    text-transform: uppercase;
}
#spanScore{
    /* background: rgba(255, 255, 255, 0); */
    width: 200px;
    height: 20px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 0px 0px 20px 20px;
}
#score, #scoreTxt{

    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
    margin: auto;
}
.iconHome{
    background: none;
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 16pt;
    transition: .4s;
    padding: 6px;
    border-radius: 100%;
}
.iconHome:hover{

    transform: scale(1.1);
    background: #0089EC;
    color: white;
}